input {
  width: 30%;
  padding: 5px;
  box-sizing: border-box;
}

#dropdown {
  width: auto;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

button {
  padding: 5px;
  margin-bottom: 1rem;
}
